/**
 * Black
 */
$color-black: #000000;

/**
 * White
 */
$color-white: #fff;

/**
 * Error
 */
$color-error-40: #f7afa0;
$color-error-60: #f48870;
$color-error-80: #f06040;
$color-error-primary: #ec3811;
$color-error-red: #cb4141;

/**
 * Other
 */
$color-placeholder: #f5f5f5;
