.button {
  font-family: $font-oswald;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 0.2rem;
  padding: 1rem 2.5rem;

  &--full-width {
    width: 100%;
  }

  &--filled {
    background: repeating-linear-gradient(
                    135deg,
                    $color-active-100,
                    $color-active-100 1.2rem,
                    $color-active-60 1.2rem,
                    $color-active-60 2.4rem
    );
    color: $color-accent-90;
  }

  &--transparent {
    background: transparent;
    color: $color-active-100;
    border: 0.2rem solid $color-active-100;
  }
}