.extra-navigation {
  &__list {
    display: flex;
    align-items: center;
    gap: 2.7rem;
  }

  &__item {
    display: flex;
    color: $color-secondary;

    &--active {
      color: $color-active-60;
    }
  }

  &__link {
    font-family: $font-lato;
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    color: inherit;
  }
}