.header-aside {
  background-color: $color-primary;
  border-right: 1px solid $color-border;

  &--width-limitation {
    width: 8.8rem;
    height: 100%;
  }

  &__logo-sm {
    display: inline-block;
    background-color: $color-active-80;
    padding: 2rem;
    margin-bottom: 1.6rem;
  }
}
