.header-upper {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.5rem;
  background-color: $color-black-80;
  border: 1px solid $color-border;

  .header-upper__social-links {
    margin-right: 5.5rem;
  }

  .header-upper__navigation {

  }
}