.mines-calculator {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: linear-gradient(218deg, $color-primary 0%, $color-primary 100%);
  border: 0.2rem solid $color-accent-75;
  border-radius: 0.5rem;
  padding: 3rem;
}