.plinko {
  display: flex;
  flex-wrap: wrap;
  gap: 3.6rem;

  &__settings {
    width: 46rem;
    border: 0.2rem solid $color-accent-75;
    border-radius: 0.5rem;
    background: linear-gradient(218deg, $color-primary 0%, $color-primary 100%);
  }

  &__table {
    margin-top: 7rem;
    width: 100%;
  }
}