.plinko-settings {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  padding: 3rem;

  &__limit {
    font-family: $font-segoe-ui;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: $color-dark-10;
  }

  &__snow {
    position: absolute;

    &--first {
      width: 7.8rem;
      height: 3.8rem;
      top: -1.4rem;
      left: 0.2rem;
    }

    &--second {
      width: 16.3rem;
      height: 4rem;
      top: -1.4rem;
      right: 0.2rem;
    }

    &--third {
      width: 21.8rem;
      height: 4.5rem;
      bottom: -2.2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}