.social-links {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .social-links__link {
    display: inline-block;
  }

  .social-links__icon {
    display: inline-block;
    width: 1.6rem;
    height: 1.3rem;
    color: $color-icon;
  }
}