@import 'vars/vars';
@import 'mixins/mixins';
@import 'fonts/fonts';
@import 'base/base';

// blocks
@import 'blocks/layout';
@import 'blocks/wrapper';
@import 'blocks/content';
@import 'blocks/main';

@import 'blocks/button';
@import 'blocks/info-label';

@import 'blocks/header';
@import 'blocks/logo-md';
@import 'blocks/navigation';
@import 'blocks/languages-toggle';
@import 'blocks/flag';
@import 'blocks/hamburger';

@import 'blocks/header-upper';
@import 'blocks/extra-navigation';
@import 'blocks/social-links';

@import 'blocks/header-aside';
@import 'blocks/logo-sm';
@import 'blocks/aside-navigation';

@import 'blocks/chat';
@import 'blocks/message';
@import 'blocks/status-badge';
@import 'blocks/user-avatar';
@import 'blocks/chat-form';
@import 'blocks/smiles-trigger';
@import 'blocks/togglers';
@import 'blocks/snow';
@import 'blocks/rules';

@import 'blocks/promo-banner';
@import 'blocks/banners-slider';
@import 'blocks/banners';

@import 'blocks/games';
@import 'blocks/promo-icon';
@import 'blocks/games-title';
@import 'blocks/games-info-cards';
@import 'blocks/games-info-cards-item';
@import 'blocks/games-cards';
@import 'blocks/games-cards-item';